* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
td {
  border: 1px solid;
  border: none;
  vertical-align: middle;
  padding: 10px 20px;
  text-align: center;
  font-family: sans-serif;
  
}
thead {
  color: white;
  font-weight: bold;
  
}
thead td:first-child {
  background: #7887AB;
  border-top-left-radius: 10px;
}

thead td:nth-child(2) {
  background: #4F628E;
}
thead td:nth-child(3) {
  background: #2E4172;
}
thead td:nth-child(4) {
  background: #162955;
}
thead td:nth-child(5) {
  background: #061539;
  border-top-right-radius: 10px;
}
p {
  margin: 20px 0 10px 0;
  font-size: 40px;
}
tbody td:first-child {
  text-align: left;
}

tbody > tr:nth-child(odd) > td:nth-child(odd) {
  background: #DBDBDB;
}
tbody > tr:nth-child(even) > td:nth-child(odd) {
  background: #ECECEC;
}
tbody > tr:nth-child(odd) > td:nth-child(even) {
  background: #E7E7E7;
}
tbody > tr:nth-child(even) > td:nth-child(even) {
  background: #F3F3F3;
}

tfoot td:nth-child(odd) {
  background: #DBDBDB;
}
tfoot td:nth-child(even) {
  background: #E7E7E7;
}

button {
  padding: 10px 20px;
  background-color: #D3D3D3;
}
tfoot td:first-child {
  border-bottom-left-radius: 10px;
}
tfoot td:last-child {
  border-bottom-right-radius: 10px;
}
 
